<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Book List</h1>
  <% books.forEach(book => { %>
    <h2>
      <a href="/books/<%= book._id %>">
        <%= book.name %>
      </a>
      -
      <%= book.title ? 'is read' : 'is not read' %>
      <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
        <button>Delete <%= book.name %></button>
      </form>
    </h2>
    

<% }) %>
</body>
</html>